* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #edede9;
}

/*  NAVBAR  */
/* NAVBAR*/
.Navbar {
    width: 100%;
    position: fixed;
    background: #edede9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    top: 0;
    z-index: 1000;
    transition: 0.3s ease-in-out;
}

.Logo {
    font-size: 1.8em;
    font-weight: 800;
    text-decoration: none;
    color: #1b263b;
}

.Nav-menu {
    display: flex;
    list-style: none;
}

.Nav-menu .Nav-item a {
    height: 100%;
    display: block;
    color: #1b263b;
    padding: 0 20px;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 500;
}

.Nav-menu .Nav-item:hover a {
    color: #1b263b;
    background: #edede9;
}

.Nav-menu .Nav-item ul {
    position: absolute;
    list-style: none;
    display: none;
    padding: 5px 0;
}

.Nav-menu .Nav-item:hover ul {
    display: block;
    background: #edede9;
}

.Nav-menu .Nav-item ul li a {
    color: #1b263b;
    padding: 10px 20px;
    display: block;
}

.Nav-menu .Nav-item ul li:hover a {
    color: #edede9;
    background: #1b263b;
}

/* Responsive Menu */
.Hamburger {
    display: none;
    font-size: 2em;
    cursor: pointer;
    color: #1b263b;
}

/* Media Query for Responsiveness */
@media screen and (max-width: 768px) {
    .Nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background: #edede9;
        z-index: 999;
    }

    .Nav-menu.active {
        display: flex;
    }

    .Nav-item {
        text-align: center;
    }

    .Hamburger {
        display: block;
    }
}

/*  NAVBAR  */

.Cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 70px;
    margin-inline: 1.5rem;
    border-radius: 10px;
    color: #edede9;
    /* background-color: #1b263b; */
}

.H2Aluno {
    color: #1b263b;
}

.Alunos {
    background: #fff;
    margin: 15px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px #1b263b;
}

.AlunosForm {
    margin-bottom: 20px;
}

.LabelAluno {
    display: block;
    margin: 10px 0 5px;
    color: #1b263b;
}

.InputAlunos[type="text"],
.InputAlunos[type="email"],
.InputAlunos[type="date"],
.InputAlunos[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ButtonAlunos {
    background: #50e3c2;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.ButtonAlunos:hover {
    background: #4a90e2;
}

.ButtonAlunos>i {
    margin-right: 5px;
}

.ButtonAlunos {
    margin-top: 6px;
}

/* VISUALIZAÇÃO DE ALUNOS */

.Visualização {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    border-radius: 10px;
    color: #333;
    font-family: sans-serif;
    /* Adicionado para melhor visualização */
}

.table-wrapper {
    background: #fff;
    padding: 20px;
    margin: 30px 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    width: 100%;
    /* Garante que a tabela use o espaço disponível */
}

.table-title {
    padding: 15px;
    background: #1b263b;
    color: #fff;
    border-radius: 3px 3px 0 0;
}

.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}

table.table {
    width: 100%;
    border-collapse: collapse;
}

table.table th,
table.table td {
    padding: 12px 15px;
    border: 1px solid #e9e9e9;
    text-align: left;
    vertical-align: middle;
}

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

table.table-hover tbody tr:hover {
    background: #eaeaea;
}

table.table td a {
    color: #1b263b;
    text-decoration: none;
    display: inline-block;
    margin: 0 5px;
}

table.table td a.edit {
    color: #FFC107;
}

table.table td a.delete {
    color: #F44336;
}

table.table td i {
    font-size: 18px;
}

/* VISUALIZAÇÃO DE ALUNOS */